name: Build OnePlus 12R Kernel

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout this repo
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          bc bison build-essential ccache curl flex gcc-aarch64-linux-gnu \
          gcc-arm-linux-gnueabi git kmod libelf-dev libssl-dev libarchive-tools \
          llvm lld python3 python3-pip wget zstd

    - name: Clone kernel sources
      run: |
        mkdir -p kernel/oneplus
        cd kernel/oneplus

        git clone https://github.com/gaurav-paul9/android_kernel_oneplus_sm8550.git \
          -b lineage-23.0 sm8550 --depth=1

        git clone https://github.com/LineageOS/android_kernel_oneplus_sm8550-modules.git \
          -b lineage-23.0 sm8550-modules --depth=1

    - name: Download QC Clang
      run: |
        mkdir -p qc-prebuilts/clang
        cd qc-prebuilts/clang

        echo "Downloading QC Clang..."
        wget -q \
         https://git.codelinaro.org/clo/la/kernelplatform/prebuilts-master/clang/host/linux-x86/-/archive/c420e3ab93e51a2f2ab4f8e8b517463c34a7e8bd/clang-host-linux-x86.tar.gz

        echo "Extracting QC Clang..."
        tar -xf clang-host-linux-x86.tar.gz

        echo "Clang extracted:"
        ls -al .

        echo "Clang bin directory:"
        ls -al bin

        cd $GITHUB_WORKSPACE

    - name: Build kernel
      run: |
        cd kernel/oneplus/sm8550

        export CLANG_PATH=$GITHUB_WORKSPACE/qc-prebuilts/clang
        export PATH=$CLANG_PATH/bin:$PATH
        export ARCH=arm64
        export SUBARCH=arm64
        export O=out

        clang --version || true

        make ARCH=arm64 mrproper
        mkdir -p out

        make O=$O ARCH=arm64 gki_defconfig

        bash scripts/kconfig/merge_config.sh -m \
          out/.config \
          arch/arm64/configs/vendor/kalama_GKI.config \
          arch/arm64/configs/vendor/oplus/kalama_GKI.config \
          arch/arm64/configs/vendor/debugfs.config

        make O=$O ARCH=arm64 olddefconfig

        make -j$(nproc) O=$O ARCH=arm64 CC=clang

    - name: Upload Image.gz
      uses: actions/upload-artifact@v4
      with:
        name: Image.gz
        path: kernel/oneplus/sm8550/out/arch/arm64/boot/Image.gz
